Django
djangorestframework
gunicorn
Keras
Keras-Applications
Keras-Preprocessing
librosa
numpy
pandas
pytest
tensorflow
psycopg2
requests
setuptools
jupyter
SpeechRecognition
djangorestframework
matplotlib
