{% extends "index.html" %}

{% block content %}
<!--Here the number 2 in "/App/delete/2/" needs to be replaced with the pk of the file. The logic is working. -->
    <form action="/speaker/delete/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <h2 class="contact-title text-info">Click delete below the filename you want to delete from the server:</h2>
        {% for myfile, pk in filename %}
      
        <div class="input-form text-warning">
        {{ myfile }}                           
        </div>
                            
                           
                                <input type="submit" value="Delete" class="genric-btn danger radius small">
            <input type="hidden" name="pk" value="{{ pk }}">
                            
                        
        
        {% endfor %}
        <br>
    </form>
{% endblock %}

